html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
div.profTitle {
  padding-top: 5px;
  background-color: #45d7e8;
  height: 100px;
  text-align: center;
  font-size: 65px;
  color: white;
  font-family: 'Dosis', sans-serif;
  z-index: 10;
}
.sbreak {
  margin-top: 10px;
  padding: 150px 0 150px 0;
  border-right: 1px solid #45d7e8;
  color: grey;
  font-size: 70px;
  text-align: right;
  font-family: 'Dosis', sans-serif;
}
#piechart {
  padding: 0;
  height: 940px;
  margin-top: -175px;
}
div.firstchart {
  overflow: hidden;
  height: 500px;
}

div.text {
  border-top: 1px solid #45d7e8;
  z-index: 5;
}

div.trans {
  font-size:70px;
  color: grey;
  font-family: 'Dosis', sans-serif;
  padding-top: 15px;
  text-align: left;
}
div.total {
  font-size:35px;
  color: green;
  font-family: 'Dosis', sans-serif;
  margin-top:50px;
  text-align: right;
}

div.catRow {
  margin: 30px 0 30px 0;
}
.totalamt {
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  text-align: right;
  color: green;
  margin: 0;
}
.btn {
  width: 400px;
  font-family: 'Dosis', sans-serif;
}
.col-xs-3 {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  text-align: right;
}

div.bar {
  overflow: hidden;
}
div.barchart {
  height: 700px;
  margin-top: -50px;
}
div.compareText {
  font-family: 'Dosis', sans-serif;
  font-size: 75px;
  text-align: center;
  color: grey;
  border-bottom: 1px solid #45d7e8;
}
div.diffGraphs {
  font-family: 'Dosis', sans-serif;
  margin: 70px 0 50px 0;
  color: green;
  font-size: 30px;
  text-align: center;
}
.btnC {
  width: 100px;
}
